/* Navbar styles */
.navbar {
  background: transparent; 
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; /* Align to the left */
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.homeLink {
  text-decoration: none;
  color: #0070f3;
  display: flex;
  align-items: center;
}

.homeLink:hover {
  text-decoration: underline;
}

.homeIcon {
  margin-right: 8px;
}
